<a href="https://colab.research.google.com/github/MaksimSmolenkov/3/blob/main/%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D1%83%D0%BC5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings

##1

In [80]:
listName = ["Strom, Mrs. Wilhelm (Elna Matilda Persson)", "Navratil, Mr. Michel (\"Louis M Hoffman\")", "Minahan, Miss. Daisy E"]
listAge = [
  29, 36.5, 33
]
listSex = [
  "female", "male", "female"
]
columns = ['Name', 'Age', 'Sex']
df1 = pd.DataFrame(zip(listName, listAge, listSex), columns=columns)
df1

                                         Name   Age     Sex
0  Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.0  female
1    Navratil, Mr. Michel ("Louis M Hoffman")  36.5    male
2                      Minahan, Miss. Daisy E  33.0  female

##2

In [81]:
df2 = pd.read_csv('titanic_csv.csv', delimiter=';')
df2 = df2.rename (
    columns = {
        'PassengerId' : 'passengerid',
        'Pclass' : 'pclass',
        'Survived' : 'survived',
        'Name' : 'name',
        'Sex'  : 'sex',
        'Age' : 'age',
        'SibSp'      : 'sibsp',
        'Parch' : 'parch',
        'Ticket' : 'ticket',
        'Fare' : 'fare',
        'Cabin' : 'cabin',
        'Embarked' : 'embarked'
    }
)
df2

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
1,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
2,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
3,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
4,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
489,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
490,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
491,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
492,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
493,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q

##3

In [82]:
df3 = pd.read_csv('https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt')
df3

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
1,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
2,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
3,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
4,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
495,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
496,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
497,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
498,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
499,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

## 4

In [83]:
df = pd.merge(df2, df3, how = 'outer')
df=df.drop_duplicates()
df

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
1,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
2,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
3,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
4,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
889,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
890,640,0,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S
891,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
892,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
893,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

## 5

In [84]:
df = df.set_index('passengerid')

In [85]:
df.sort_values(by=['passengerid'])

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 6

In [87]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 454 to 77
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       714 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

##7

In [88]:
tmp=df.iloc[0]
df.iloc[0]=df.loc[2]
df.loc[2]=tmp
df.iloc[0]

survived                                                    1
pclass                                                      1
name        Cumings, Mrs. John Bradley (Florence Briggs Th...
sex                                                    female
age                                                      38.0
sibsp                                                       1
parch                                                       0
ticket                                               PC 17599
fare                                                  71.2833
cabin                                                     C85
embarked                                                    C
Name: 454, dtype: object

## 8

In [89]:
def f(x):
  if x == "female":
    return "f"
  if x == 'male':
    return "m"
  else: return 'uknown'

df['sex'] = df['sex'].map(f)
df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C
234,1,3,"Asplund, Miss. Lillian Gertrud",f,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",f,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",f,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",m,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",m,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",f,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",m,NaN,0,0,349208,7.8958,NaN,S

##9

In [90]:
df_check = df.groupby('ticket')['name'].count() # в датафрейм поместим все номера билетов и количество людей, которые числятся за этими билетами
tickets=df_check[df_check>=6] # возьмем только те билеты, где количество людей >= 6
tickets

ticket
1601        7
3101295     6
347082      7
347088      6
CA 2144     6
CA. 2343    7
Name: name, dtype: int64

## 10

In [91]:
df[df['ticket'].isin(tickets.index)] #фильтруем датафрейм и оставляем только строки с номерами билетов, которые есть в tickets

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
160,0,3,"Sage, Master. Thomas Henry",m,NaN,8,2,CA. 2343,69.5500,NaN,S
820,0,3,"Skoog, Master. Karl Thorsten",m,10.0,3,2,347088,27.9000,NaN,S
168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",f,45.0,1,4,347088,27.9000,NaN,S
481,0,3,"Goodwin, Master. Harold Victor",m,9.0,5,2,CA 2144,46.9000,NaN,S
847,0,3,"Sage, Mr. Douglas Bullen",m,NaN,8,2,CA. 2343,69.5500,NaN,S
543,0,3,"Andersson, Miss. Sigrid Elisabeth",f,11.0,4,2,347082,31.2750,NaN,S
72,0,3,"Goodwin, Miss. Lillian Amy",f,16.0,5,2,CA 2144,46.9000,NaN,S
679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",f,43.0,1,6,CA 2144,46.9000,NaN,S
793,0,3,"Sage, Miss. Stella Anna",f,NaN,8,2,CA. 2343,69.5500,NaN,S
635,0,3,"Skoog, Miss. Mabel",f,9.0,3,2,347088,27.9000,NaN,S
170,0,3,"Ling, Mr. Lee",m,28.0,0,0,1601,56.4958,NaN,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",f,6.0,4,2,347082,31.2750,NaN,S
75,1,3,"Bing, Mr. Lee",m,32.0,0,0,1601,56.4958,NaN,S
644,1,3,"Foo, Mr. Choong",m,NaN,0,0,1601,56.4958,NaN,S
64,0,3,"Skoog, Master. Harald",m,4.0,3,2,347088,27.9000,NaN,S
120,0,3,"Andersson, Miss. Ellis Anna Maria",f,2.0,4,2,347082,31.2750,NaN,S
387,0,3,"Goodwin, Master. Sidney Leonard",m,1.0,5,2,CA 2144,46.9000,NaN,S
510,1,3,"Lang, Mr. Fang",m,26.0,0,0,1601,56.4958,NaN,S
542,0,3,"Andersson, Miss. Ingeborg Constanzia",f,9.0,4,2,347082,31.2750,NaN,S
643,0,3,"Skoog, Miss. Margit Elizabeth",f,2.0,3,2,347088,27.9000,NaN,S
839,1,3,"Chip, Mr. Chang",m,32.0,0,0,1601,56.4958,NaN,S
639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",f,41.0,0,5,3101295,39.6875,NaN,S
60,0,3,"Goodwin, Master. William Frederick",m,11.0,5,2,CA 2144,46.9000,NaN,S
611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",f,39.0,1,5,347082,31.2750,NaN,S
325,0,3,"Sage, Mr. George John Jr",m,NaN,8,2,CA. 2343,69.5500,NaN,S
181,0,3,"Sage, Miss. Constance Gladys",f,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",f,NaN,8,2,CA. 2343,69.5500,NaN,S
825,0,3,"Panula, Master. Urho Abraham",m,2.0,4,1,3101295,39.6875,NaN,S
51,0,3,"Panula, Master. Juha Niilo",m,7.0,4,1,3101295,39.6875,NaN,S
827,0,3,"Lam, Mr. Len",m,NaN,0,0,1601,56.4958,NaN,S
165,0,3,"Panula, Master. Eino Viljami",m,1.0,4,1,3101295,39.6875,NaN,S
202,0,3,"Sage, Mr. Frederick",m,NaN,8,2,CA. 2343,69.5500,NaN,S
684,0,3,"Goodwin, Mr. Charles Edward",m,14.0,5,2,CA 2144,46.9000,NaN,S
687,0,3,"Panula, Mr. Jaako Arnold",m,14.0,4,1,3101295,39.6875,NaN,S
267,0,3,"Panula, Mr. Ernesti Arvid",m,16.0,4,1,3101295,39.6875,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",m,39.0,1,5,347082,31.2750,NaN,S
693,1,3,"Lam, Mr. Ali",m,NaN,0,0,1601,56.4958,NaN,S
361,0,3,"Skoog, Mr. Wilhelm",m,40.0,1,4,347088,27.9000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S

In [92]:
peoples=df[df['name'].isin(df['name'])]
peoples

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C
234,1,3,"Asplund, Miss. Lillian Gertrud",f,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",f,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",f,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",m,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",m,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",f,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",m,NaN,0,0,349208,7.8958,NaN,S

In [93]:
together = df[df['cabin'].isin(peoples['cabin'])]
together

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
454,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C
234,1,3,"Asplund, Miss. Lillian Gertrud",f,5.0,4,2,347077,31.3875,NaN,S
556,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",f,51.0,1,0,13502,77.9583,D11,S
444,1,2,"Reynaldo, Ms. Encarnacion",f,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",m,NaN,0,0,65306,8.1125,NaN,S
640,0,3,"Thorneycroft, Mr. Percival",m,NaN,1,0,376564,16.1000,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",f,NaN,1,0,17453,89.1042,C92,C
77,0,3,"Staneff, Mr. Ivan",m,NaN,0,0,349208,7.8958,NaN,S

## 11

In [94]:
df['birthyear'] = 1912-df['age']
df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear
passengerid,,,,,,,,,,,,
454,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C,1874.0
234,1,3,"Asplund, Miss. Lillian Gertrud",f,5.0,4,2,347077,31.3875,NaN,S,1907.0
556,0,1,"Wright, Mr. George",m,62.0,0,0,113807,26.5500,NaN,S,1850.0
766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",f,51.0,1,0,13502,77.9583,D11,S,1861.0
444,1,2,"Reynaldo, Ms. Encarnacion",f,28.0,0,0,230434,13.0000,NaN,S,1884.0
...,...,...,...,...,...,...,...,...,...,...,...,...
445,1,3,"Johannesen-Bratthammer, Mr. Bernt",m,NaN,0,0,65306,8.1125,NaN,S,NaN
640,0,3,"Thorneycroft, Mr. Percival",m,NaN,1,0,376564,16.1000,NaN,S,NaN
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S,1908.0
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",f,NaN,1,0,17453,89.1042,C92,C,NaN
77,0,3,"Staneff, Mr. Ivan",m,NaN,0,0,349208,7.8958,NaN,S,NaN

##12

In [95]:
#сперва сделаем датафрейм, который будет содержать в себе кабины и количество людей, которые были в них
cabins = df.groupby('cabin')['name'].count() #сгруппируем по cabin и выведем количество людей, которые были в них
cabins

cabin
A10    1
A14    1
A16    1
A19    1
A20    1
      ..
F33    3
F38    1
F4     2
G6     4
T      1
Name: name, Length: 147, dtype: int64

In [96]:
#создаем столбец companion
df['companion'] = df['cabin'].map(cabins) #берем информацию о кабине из cabins, и в companion присваиваем количество людей в этой кабине
df.sort_index()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear,companion
passengerid,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",m,22.0,1,0,A/5 21171,7.2500,NaN,S,1890.0,NaN
2,1,1,"Goldenberg, Mr. Samuel L",m,49.0,1,0,17453,89.1042,C92,C,1863.0,2.0
3,1,3,"Heikkinen, Miss. Laina",f,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1886.0,NaN
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",f,35.0,1,0,113803,53.1000,C123,S,1877.0,2.0
5,0,3,"Allen, Mr. William Henry",m,35.0,0,0,373450,8.0500,NaN,S,1877.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",m,27.0,0,0,211536,13.0000,NaN,S,1885.0,NaN
888,1,1,"Graham, Miss. Margaret Edith",f,19.0,0,0,112053,30.0000,B42,S,1893.0,1.0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",f,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,NaN
890,1,1,"Behr, Mr. Karl Howell",m,26.0,0,0,111369,30.0000,C148,C,1886.0,1.0
891,0,3,"Dooley, Mr. Patrick",m,32.0,0,0,370376,7.7500,NaN,Q,1880.0,NaN

##13

In [97]:
df.iloc[0]

survived                                                     1
pclass                                                       1
name         Cumings, Mrs. John Bradley (Florence Briggs Th...
sex                                                          f
age                                                       38.0
sibsp                                                        1
parch                                                        0
ticket                                                PC 17599
fare                                                   71.2833
cabin                                                      C85
embarked                                                     C
birthyear                                               1874.0
companion                                                  1.0
Name: 454, dtype: object

In [98]:
df.loc[1]

survived                           0
pclass                             3
name         Braund, Mr. Owen Harris
sex                                m
age                             22.0
sibsp                              1
parch                              0
ticket                     A/5 21171
fare                            7.25
cabin                            NaN
embarked                           S
birthyear                     1890.0
companion                        NaN
Name: 1, dtype: object

In [99]:
tmp=df.iloc[0]
df.iloc[0]=df.loc[1]
df.loc[1]=tmp
df.iloc[0]

survived                           0
pclass                             3
name         Braund, Mr. Owen Harris
sex                                m
age                             22.0
sibsp                              1
parch                              0
ticket                     A/5 21171
fare                            7.25
cabin                            NaN
embarked                           S
birthyear                     1890.0
companion                        NaN
Name: 454, dtype: object

## 14

In [102]:
df.to_csv('solution14.csv',sep=';')

## 15

In [103]:
df.sort_values(by='fare', ascending=False).head(10) #ascending=False - упорядочиваем в порядке от наибольшего к наименьшему. Если поставить True - то наоборот

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear,companion
passengerid,,,,,,,,,,,,,
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",m,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1876.0,2.0
259,1,1,"Ward, Miss. Anna",f,35.0,0,0,PC 17755,512.3292,NaN,C,1877.0,NaN
738,1,1,"Lesurer, Mr. Gustave J",m,35.0,0,0,PC 17755,512.3292,B101,C,1877.0,1.0
89,1,1,"Fortune, Miss. Mabel Helen",f,23.0,3,2,19950,263.0000,C23 C25 C27,S,1889.0,4.0
28,0,1,"Fortune, Mr. Charles Alexander",m,19.0,3,2,19950,263.0000,C23 C25 C27,S,1893.0,4.0
439,0,1,"Fortune, Mr. Mark",m,64.0,1,4,19950,263.0000,C23 C25 C27,S,1848.0,4.0
342,1,1,"Fortune, Miss. Alice Elizabeth",f,24.0,3,2,19950,263.0000,C23 C25 C27,S,1888.0,4.0
312,1,1,"Ryerson, Miss. Emily Borie",f,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1894.0,2.0
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",f,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1891.0,2.0
119,0,1,"Baxter, Mr. Quigg Edmond",m,24.0,0,1,PC 17558,247.5208,B58 B60,C,1888.0,2.0

## 16

In [104]:
print(f"Мужчин выжило:{df[(df['survived']==1) & (df['sex']=='m')].shape[0]}" )
print(f"Мужчин не выжило:{df[(df['survived']==0) & (df['sex']=='m')].shape[0]}" )
print()
print(f"Женщин выжило:{df[(df['survived']==1) & (df['sex']=='f')].shape[0]}" )
print(f"Женщин не выжило:{df[(df['survived']==0) & (df['sex']=='f')].shape[0]}" )

Мужчин выжило:109
Мужчин не выжило:468

Женщин выжило:233
Женщин не выжило:81

## 17

In [105]:
df_class = df.groupby('pclass')['survived'].count()
df_class

pclass
1    216
2    184
3    491
Name: survived, dtype: int64

In [106]:
print("В первом классе выжило: ",df[(df['survived']==1) & (df['pclass']==1)].shape[0])
print("В первом классе не выжило: ",df[(df['survived']==0) & (df['pclass']==1)].shape[0])
print()
print("Во втором классе выжило: ",df[(df['survived']==1) & (df['pclass']==2)].shape[0])
print("Во втором классе не выжило: " ,df[(df['survived']==0) & (df['pclass']==2)].shape[0])
print()
print("В третьем классе выжило: ", df[(df['survived']==1) & (df['pclass']==3)].shape[0])
print("В третьем классе не выжило: ",df[(df['survived']==0) & (df['pclass']==3)].shape[0])

В первом классе выжило:  136
В первом классе не выжило:  80

Во втором классе выжило:  87
Во втором классе не выжило:  97

В третьем классе выжило:  119
В третьем классе не выжило:  372